.App {
  text-align: center;
  justify-content:center;
  display: flex;
  flex-direction:column;
  align-items:center;
  height: 100vh;
}
.counter{
display: flex;

gap:10px;
justify-content:center;
align-items:center;
}
.counterSizeGenerator{
  border-style: solid;
  padding: 15px;
}
